@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #deab5f;
    --secondary-color: #312e2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair', sans-serif;
    background: hsl(0, 0%, 10%);
}

/* navigation start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding-top: 15px;
}

li {
    display: inline;
    list-style: none;

}

