@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #deab5f;
    --secondary-color: #312e2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair', sans-serif;
    background: hsl(0, 0%, 7%);
    color: #fff;
}

/* navigation start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

li {
    display: inline;
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 8px;

    /* transition: all 0.2s ease; */
}

li a:hover {
    border-bottom: 2px solid var(--primary-color);
}


