@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #deab5f;
    --secondary-color: #312e2e;
    --font-base: "Playfair Display", sans-serif;
    --border-radius: 5px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(0, 0%, 6.5%);
    color: #fff;
    font-family: sans-serif;
}

/* navigation start */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    font-size: 24px;
}

nav h1 {
    cursor: default;
}

.nav-item li {
    display: inline;
    list-style: none;
}

.nav-item li a {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover {
    border-bottom: 2px solid var(--primary-color);
    color: hsl(0, 0%, 80%)
}

button {
    padding: 10px 30px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
    
    transition: all .2s ease;
}

button:hover {
    background: hsl(40, 66%, 45%);
}

/* header start */

.header {
    background: url(./images/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: var(--font-base);
    font-weight: normal;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.main-heading {
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
}

.second-heading {
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.main-btn {
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
    font-size: 24px;


    transform: translateY(65px);
}

/* Story content */

#our-story {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* height: 100vh; */
    margin-top: 18%
}

.img {
    width: 400px;
    aspect-ratio: 1;
    background: url(./images/pexels-chitokan-2183027-removebg-preview.png);
    background-position: center;
    background-size: cover;
}


.title-style {
    display: flex;
    align-items: center;
}

.title {
    font-family: var(--font-base);
    font-size: 4rem;
    transform: translateX(-100px);
    font-weight: normal;
}

.line {
    width: 50px;
    height: 2px;
    background: #fff;
    transform: translate(-120px, 5px);
}

.section-content p {
    max-width: 500px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}

.section-content button {
    border-radius: var(--border-radius);
    }


/* coffee container */

.coffee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 10rem;
}

.title-two {
    font-family: var(--font-base);
    font-size: 3rem;
}

.content-section p {
    max-width: 500px;
    font-family: sans-serif;
    margin: 20px 0;
}

.content-section button {
    border-radius: var(--border-radius);
}

.img-two {
    width: 400px;
    aspect-ratio: 1;
}


/* Product Section */

.product {
    margin-top: 5rem;
}

.title-three {
    font-family: var(--font-base);
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    height: 400px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 4rem;
}

.card-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
}

.img-one {
    background: url(./images/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-two {
    background: url(./images/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-three {
    background: url(./images/3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-title {
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 2rem;
}

.card .items {
    margin-bottom: 50px;
}

.card .items p {
    margin: 20px 0;
}

hr {
    color: var(--secondary-color)
}

